@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@300;400;600;800&display=swap');
body{
    background-color: hsl(47, 88%, 63%);
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    align-items: center;
    transition: 300ms ease-in-out;
    font-family: 'Figtree', sans-serif;
    
}
.front-div{
    background-color: white;
    border: 2px solid black;
    overflow-x: hidden;
    max-width: 370px;
    min-height: 500px;
    max-height: 500px;
    box-sizing: border-box;
    padding: 20px 20px 0 20px;
    border-radius: 20px;
    z-index: 2;
}
.img-div{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 10px;
    height: 200px;
    width: 100%;
}
.img-div svg{
    border-radius: 10px;
    height: fit-content;
    width: 400px;
}
.learn{
    background-color: hsl(47, 88%, 63%);
    width: 23%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 22px 0 0 0;
    border-radius: 5px;
    font-weight: 800;
}
.p{
    font-size: 1rem;
    font-weight: 600;
}
.h1{
    font-size: 1.5rem;
    transition: 100ms ease-in-out;
}
.p-1{
    overflow: hidden;
    width: 100%;
    color: hsl(0, 0%, 50%);
}
.greg-div{
    display: flex;
    align-items: center;
}
.greg-div img{
    width: 35px;
    margin: 0 15px 0 0;
}
.img-p{
    font-weight: 800;
}
.back-div{
    background-color: black;
    z-index: -2;
    position: relative;
    overflow-x: hidden;
    max-width: 370px;
    height: 500px;
    display: flex;
    margin: -500px 0 0 0;
    top: 5px;
    left: 5px;
    border-radius: 20px;
    transition: 300ms ease-in-out;
}
.front-div:hover + .back-div{
    top: 10px;
    left: 10px;
    transition: 300ms ease-in-out;
}
.h1:hover{
    color: hsl(47, 88%, 63%);
    transition: 100ms ease-in-out;
}
@media (height: 800px) and (width: 360px) {
    .front-div, .back-div{
        transform: scale(0.5);
    }
}